html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: normal;
}

.container {
  display: flex;
}

.column {
  width: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.box {
  width: 380px;
  border-radius: 5px;
  border: 2px solid gray;
  padding: 12px;
  margin-bottom: 30px;
}

.box-title {
  padding: 10px;
}

h2 {
  font-weight: bold;
}

.thumbnail-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}

.thumbnail {
  width: 100%;
  margin-top: -35px;
}

.stats-container {
  margin-bottom: 16px;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.box a {
  padding: 15px 0;
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #1d4ea5;
  letter-spacing: 0.7px;
}

.sub-count {
  padding: 12px;
  padding-bottom: 60px;
  border-bottom: 2px solid lightgray;
}

.summary {
  padding: 12px;
  padding-bottom: 40px;
  border-bottom: 2px solid lightgray;
}

.summary-elements {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.Top-videos {
  padding: 12px;
}

.top-vid-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-vid-elements a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.top-vid-elements a:hover {
  color: #1d4ea5;
}

.idea-info {
  display: flex;
  justify-content: space-between;
}

.fc {
  color: green;
}

.video-box {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.small-thumbnail-container {
  width: 80px;
  height: 60px;
  overflow: hidden;
}

.small-thumbnail {
  width: 100%;
}

.video-description {
  display: flex;
  flex-direction: column;
  width: 310px;
}

.above-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.below-description {
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
}

.comment-box {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 2px solid lightgray;
}

.comment-box-B2 {
  display: flex;
  padding: 16px 0;
  border-bottom: 2px solid lightgray;
}

.comment-box-B2:last-of-type {
  border-bottom: none;
}

.comment {
  display: flex;
  flex-direction: column;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  overflow: hidden;
}

.profile-photo {
  width: 100%;
}

.insider-img-container {
  margin-top: 10px;
  width: 320;
  height: 180;
}

.feature {
  padding: 12px 0;
  border-bottom: 2px solid lightgray;
}

.feature a {
  text-decoration: none;
  color: inherit;
}

.feature a:hover {
  color: #1d4ea5;
}

/* CSS for MENU */
.Menu {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  position: sticky;
  top: 0;
}

/* MENU LEFT */
.menu_left {
  display: flex;
  align-items: center;
}
/* MENU LEFT - Collapse Setting */
.collapse {
  width: 20px;
  height: auto;
  padding: 20px 20px;
}

.fas {
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: gray;
}

/*MENU LEFT - Youtube Icon */
.YT_icon_container {
  padding: 10px 10px;
}

.YT_icon {
  width: 100%;
}

/* MENU MID */
.input_data {
  width: 450px;
  padding: 8px;
  padding-left: 50px;
  border: 1px solid gray;
  border-radius: 3px;
  background-image: url(./assets/search.png);
  background-size: 16px 16px;
  background-position: left 18px bottom 9px;
  background-repeat: no-repeat;
}

.input_data:focus {
  outline: none;
}

/* MENU RIGHT */
.menu_right {
  display: flex;
  align-items: center;
}

.help_btn {
  padding: 20px;
  font-size: 20px;
  color: gray;
}

.create {
  display: flex;
  border: 1px solid lightgray;
  padding: 5px;
  margin-right: 20px;
}

.my_accounts {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.my_accounts img {
  width: 100%;
  border-radius: 60px;
}

/* NAVI */
.navi {
  background-color: white;
  width: 260px;
  border-right: 1px solid gray;
  height: 100vh;
  position: fixed;
  float: left;
}

.navi_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

/* Navi - Main profile */
.main_profile {
  width: 110px;
  height: 110px;
}

.main_profile img {
  width: 100%;
  border-radius: 120px;
}

.navi_profile h4 {
  padding-top: 14px;
  font-weight: bold;
  font-size: 14px;
}

.navi_profile span {
  color: gray;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 12px;
}

/* Navi - Menu Tile */
.navi_menu {
}

.menu_tile {
  padding: 11px;
  border-right: none;
  border-left: none;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.menu_title_icon {
  width: 50px;
  height: auto;
  padding-left: 10px;
}

.navi_setting {
  background-color: white;
  position: absolute;
  bottom: 70px;
}

/* DASHBOARD */
.dashboard {
  width: 1278px;
  margin: 0 auto;
  margin-left: 280px;
}

.dashboard_leftside {
}

.dashboard_icon {
  width: 35px;
  height: 35px;
  padding: 5px;
  background-color: gray;
  border-radius: 60px;
  display: inline-block;
}

.dashboard_icon img {
  width: 100%;
}

@media (max-width: 640px) {
  .navi_menu {
    height: 300px;
    overflow: auto;
  }
}
